/* Updated Thu 7 May 2015 */


/* -------------------- Redefine Global */

body {
	margin: 0;
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background-color: #34b67d;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: .8;
}

label {
	display: block;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 13em;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 160px;
	background-color: #0e6552;
}

h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

/* Forms */
*::-webkit-input-placeholder { color: #a7a9b5; }
*:-moz-placeholder { /* FF 4-18 */ color: #a7a9b5; }
*::-moz-placeholder { /* FF 19+ */ color: #a7a9b5; }
*:-ms-input-placeholder { /* IE 10+ */ color: #a7a9b5; }


/* -------------------- Shared Page Elements */ 

.fake_hr {
	height: 2px;
	background-color: #84445e;
	clear: both;
	margin: 20px 0;
}

/* Page Structure */
.main_container {
	width: 100%;
	background-color: #FFFFFF;
}

/* Header */
header {
	margin: 0 0px;
	padding: 30px 0 80px 0;
	position: relative;
	font-size: 1.3em;
	color: #abd14f;
	color: #FFFFFF;
	text-align: left;
	background-color: #0e6552;
}
header a {
	color: #FFFFFF;
}

header ul {
	margin: -70px 30px 0 30px;
	text-align: right;
}

header li {
	display: inline-block;
	margin: 0 0 0 30px;
}

header .green_heart_foods_logo {
	margin-left: 30px;
}

.page_header {
	display: block;
	background-color: #84445e;
	text-align: center;
	color: #fff;
	padding: 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
}

.page_header h2 {
	font-weight: 700;
}

/* Footer */
footer {
	background-color: #34b67d;
	text-align: center;
	padding: 90px 0 90px 0;
	font-size: 2.2em;
	color: #FFFFFF;
}

footer ul {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer li {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer .hours {
	margin: 40px 0 40px 0;
}

footer .location {
	margin: 40px 0 40px 0;
	color: #016753;
}

footer .location a {
	color: #016753;
}

footer .contact {
	margin: 40px 0 40px 0;
	color: #abd14f;
}

footer .contact a {
	color: #abd14f;
}

/* Errors & Messages */
.message {
	background-color: #ef284f;
	text-align: center;
	padding: 20px 0;
	color: #FFFFFF;
	font-size: 2em;
	padding: 30px 0 30px 0;
}

/* Button Bar */
.button_container {
	background-color: #84445e;
	padding: 30px 0;
	text-align: center;
}

.page_button {
	border: none;
	background-color: #ff7a18;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 0 15px;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 300px;
	display: inline-block;
}

.page_button:hover {
	opacity: .8;
}

.create_client_page input.page_button,
.edit_client_page input.page_button {
	text-transform: uppercase;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: inline;
	text-align: center;
	width: 300px;
	color: #FFFFFF;
	margin: 0px;
}

/* Menu Pages */
.no_menus {
	width: 750px;
	margin: 90px auto;
	font-size: 3em;
	text-align: center;
	color: #7d7d7d;
	line-height: 1.2em;
}

.no_menus em {
	font-style: normal;
	color: #84445e;
}

/* Checkboxes & Radio */
.checkbox, .radio {
	width: 60px;
	height: 60px;
	padding: 0 0 0 0;
	margin: 0;
	background: url(../_images/ui/checkboxes.png) no-repeat;
	display: block;
}

.radio {
	background: url(../_images/ui/radio.png) no-repeat;
}


/* -------------------- Login Page - DONE */

.login_page .main_container {
	background-color: #0e6552;
	color: #FFFFFF;
	text-align: center;
}

.login_page h1 {
	font-size: 3em;
	margin: 60px 0 60px 0;
	padding-bottom: 0px;
}

.login_page a {
	color: #FFFFFF;
}

.login_page .login_input {
	border: none;
	background-color: #FFFFFF;
	color: #34b67d;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 390px;
	font-weight: 400;
}

.login_page .login_button {
	border: none;
	background-color: #34b67d;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 450px;
}

.login_page .login_button:hover {
	opacity: .8;
}

.login_page .login_note {
	padding: 0 0 90px 0;
}


/* -------------------- All Clients Page - optional edit buttons hide on hover remains */

.clients_page .client_list {
	width: 990px;
	margin: 0 auto;
	padding: 45px 0;
}

.clients_page .client_result {
	width: 300px;
	margin: 45px 15px;
	display: inline-block;
}

.clients_page .edit_button {
	border: none;
	background-color: #ff7a18;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 0px auto;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 300px;
}


/* -------------------- Create & Edit Client Pages - DONE */ 

.create_client_page .page_header,
.edit_client_page .page_header {
	background-image: url(../_images/ui/page_header_arrow.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.create_client_page .client_form,
.edit_client_page .client_form {
	margin: 0 auto;
	background-color: #FFFFFF;
}

.create_client_page fieldset,
.edit_client_page fieldset {
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 60px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
}

.create_client_page fieldset.no_rule,
.edit_client_page fieldset.no_rule {
	border-bottom: none;
}

.create_client_page input,
.edit_client_page input {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.create_client_page label,
.edit_client_page label {
	text-align: center;
	color: #84445e;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
	font-weight: 700;
}

.create_client_page .secondary_label,
.edit_client_page .secondary_label {
	color: #a7a9b5;
	text-align: left;
	width: 930px;
	padding: 0 0 0 30px;
	margin: 60px auto 0 auto;
	font-size: 2.2em;
	font-weight: 400;
}

.create_client_page .header_logo label,
.edit_client_page .header_logo label {
	background-color: #a35d79;
	width: 960px;
	height: 540px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .header_logo input,
.edit_client_page .header_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 900px;
	color: #a35d79;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid #84445e;
}

.create_client_page .header_logo input:hover,
.edit_client_page .header_logo input:hover {
	cursor: pointer;
}

.create_client_page .grid_logo label,
.edit_client_page .grid_logo label {
	background-color: #a35d79;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .grid_logo input,
.edit_client_page .grid_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 240px;
	color: #a35d79;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid #84445e;
}

.create_client_page .grid_logo input:hover,
.edit_client_page .grid_logo input:hover {
	cursor: pointer;
}

.create_client_page .box_label,
.edit_client_page .box_label {
	color: #a7a9b5;
	text-align: center;
	padding: 20px 0 0 0;
	margin: 0 auto;
	font-size: 2.2em;
	font-weight: 400;
}

.create_client_page .move_box,
.edit_client_page .move_box {
	display: block;
	width: 60px;
	text-align: center;
	margin: 0 auto;
}

.create_client_page .checkbox_container ul,
.edit_client_page .checkbox_container ul {
	list-style: none;
	width: 980px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.create_client_page .checkbox_container li,
.edit_client_page .checkbox_container li {
	display: inline-block;
	text-align: center;
	width: 240px;
	padding: 0;
	margin: 0;
}


/* -------------------- Weekly Menu Page */

.weekly_menu_page .weekly_menu {
	background-color: #fff;
}

.weekly_menu_page header {
	background-repeat: repeat-x;
	background-position: center top;
}

.weekly_menu_page .hero {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 360px;
	width: 100%;
}

.weekly_menu_page .page_header ul {
	list-style: none;
	margin: 0px;
}

.weekly_menu_page .page_header li {
	list-style-type: none;
	display: inline;
	margin: 0 90px;
	line-height: .1em;
}

.weekly_menu_page .page_header a {
	color: #a35d79;
}

.weekly_menu_page .page_header a.selected {
	color: #FFFFFF;
}

.weekly_menu_page .meal_container {
	background-color: yellow;
	overflow: auto; /* Scales the container to fit the floats. */
	width: 960px;
	margin: 90px auto;
	padding: 90px 0;
	border-bottom: 5px solid #84445e;
}

.weekly_menu_page .meal_details {
	float: left;
	width: 300px;
	margin: 0 30px 0 0;
	background-color: red;
}

.weekly_menu_page .meal_image {
	float: right;
	width: 630px;
	height: 630px;
	overflow: hidden;
}


/* -------------------- Create & Edit Menu Pages - header & dropdowns remain and various otherthings on Edit Page */ 

/* ///////////// */
.edit_menu_page header,
.create_menu_page header {
	background-repeat: repeat-x;
	background-position: center top;
}

.edit_menu_page .hero,
.create_menu_page .hero {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 360px;
	width: 100%;
}
/* ///////////// */

.edit_menu_page .page_header,
.create_menu_page .page_header {
	background-image: url(../_images/ui/page_header_arrow.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.edit_menu_page .client_form,
.create_menu_page .client_form {
	margin: 0 auto;
	background-color: #FFFFFF;
}

.edit_menu_page .server_and_meal,
.create_menu_page .server_and_meal {
	width: 960px;
	margin: 0 auto;
}

.edit_menu_page .meal_image,
.create_menu_page .meal_image {
	text-align: right;
}

.edit_menu_page .meal_image img,
.create_menu_page .meal_image img {
	background-color: #a35d79;
	width: 630px;
	height: 630px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
	background-image: url(../_images/ui/default_meal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.edit_menu_page .meal_image input,
.create_menu_page .meal_image input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 570px;
	color: #a35d79;
	margin: -5px auto 0 auto;
	padding: 30px;
	border: 2px solid #84445e;
}

.edit_menu_page .meal_image input:hover,
.create_menu_page .meal_image input:hover {
	cursor: pointer;
}

.edit_menu_page .server_image,
.create_menu_page .server_image {
	float: left;
}

.edit_menu_page .server_image img,
.create_menu_page .server_image img {
	background-color: #a35d79;
	width: 296px;
	height: 296px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
	background-image: url(../_images/ui/default_server.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.edit_menu_page .server_image select,
.create_menu_page .server_image select {
	width: 300px;
	display: block;
}

.edit_menu_page fieldset,
.create_menu_page fieldset {
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 60px 0 90px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.edit_menu_page fieldset h3,
.create_menu_page fieldset h3 {
	text-align: center;
	color: #84445e;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
	font-weight: 700;
}

.edit_menu_page fieldset input[type=text],
.create_menu_page fieldset input[type=text] {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.edit_menu_page .checkbox_container ul,
.create_menu_page .checkbox_container ul {
	list-style: none;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.edit_menu_page .checkbox_container li,
.create_menu_page .checkbox_container li {
	display: inline-block;
	text-align: left;
	width: 300px;
	height: 60x;
	padding: 0;
	margin: 25px 0;
}

.edit_menu_page .box_label,
.create_menu_page .box_label {
	color: #a7a9b5;
	text-align: left;
	padding: 0px 0 0 0;
	margin: 0 0 0 75px;
	font-size: 2.2em;
	font-size: 1.2em;
	line-height: 60px;
	font-weight: 400;
	display: inline-block;
	float: left;
}

.edit_menu_page .move_box,
.create_menu_page .move_box {
	display: inline;
	width: 60px;
	text-align: center;
	margin: 0;
}

.edit_menu_page fieldset.no_rule,
.create_menu_page fieldset.no_rule {
	border-bottom: none;
}

.edit_menu_page .order_summary,
.create_menu_page .order_summary {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: center;
	width: 572px;
	color: #84445e;
	color: #FFFFFF;
	background-color: #a35d79;
}

.edit_menu_page .order_summary .total_served_for_item_serves,
.edit_menu_page .order_summary .total_served_for_item,
.create_menu_page .order_summary .total_served_for_item_serves,
.create_menu_page .order_summary .total_served_for_item {
	color: #a7a9b5;
	color: #84445e;
}

.edit_menu_page .button_container p,
.create_menu_page .button_container p {
	font-size: 2em;
	padding: 0px 0px 15px 0px;
	color: #FFFFFF;
	background-color: #84445e;
}

.edit_menu_page .button_container .total_served_for_menu_serves,
.edit_menu_page .button_container .total_served_for_menu,
.create_menu_page .button_container .total_served_for_menu_serves,
.create_menu_page .button_container .total_served_for_menu {
	color: #a35d79;
}

.edit_menu_page .button_container,
.create_menu_page .button_container {
	margin-top: -5px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 4000;
}

.edit_menu_page footer,
.create_menu_page footer {
	/* so it's not covered by the sticky bar */
	margin-bottom: 200px;
}

.edit_menu_page .quantity_button,
.create_menu_page .quantity_button {
	-webkit-user-select: none;  	/* Chrome all / Safari all */
  	-moz-user-select: none;     	/* Firefox all */
  	-ms-user-select: none;      	/* IE 10+ */
 	/*No support for these yet, use at own risk */
  	-o-user-select: none;
  	user-select: none;    
}

.edit_menu_page .quantity_button:hover,
.create_menu_page .quantity_button:hover {
	cursor: pointer;
}

.edit_menu_page input[type=text].price_per_order_input,
.create_menu_page input[type=text].price_per_order_input {
	width: 240px;
	margin-top: 0px;
}

.edit_menu_page .day,
.edit_menu_page .month,
.edit_menu_page .year,
.create_menu_page .day,
.create_menu_page .month,
.create_menu_page .year {
	margin: 0 15px;
}


/* -------------------- Daily Menu Page */

.daily_menu_page .server_information {
	background-color: green;
	width: 300px;
	float: left;
}

.daily_menu_page .item_summary_container {
	border: 1px solid #ccc;
	padding: 20px 0;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}



.daily_menu_page .special_requests {
	display: block;
	width: 350px;
	height: 50px;
	margin: 20px auto;
}


/* -------------------- Daily Menu - Print Placards */

.daily_menu_print_placards_page .placard_container {
	width: 300px;
	height: 100px;
	float: left;
	text-transform: capitalize;
	border: 1px solid #ccc;
}

.daily_menu_print_menu_page {
	text-transform: capitalize;
}

.edit_client_page .main_container {
	background-color: #0e6552;
}

.edit_client_page .client_form {
	background-color: #fff;
}


