/* Updated Mon 7 Aug 2015 by Josh Rehling*/


/* -------------------- Redefine Global */

body {
	margin: 0;
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background-color: #34b67d;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: .8;
}

label {
	display: block;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 13em;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 160px;
	background-color: #0e6552;
}

h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

/* Forms */
*::-webkit-input-placeholder { color: #a7a9b5; }
*:-moz-placeholder { /* FF 4-18 */ color: #a7a9b5; }
*::-moz-placeholder { /* FF 19+ */ color: #a7a9b5; }
*:-ms-input-placeholder { /* IE 10+ */ color: #a7a9b5; }


/* -------------------- Shared Page Elements */ 

/* Page Structure */
.main_container {
	width: 100%;
	background-color: #FFFFFF;
}

/* Header */
header {
	margin: 0 0px;
	padding: 30px 0 80px 0;
	position: relative;
	font-size: 1.3em;
	color: #abd14f;
	color: #FFFFFF;
	text-align: left;
	background-color: #0e6552;
}
header a {
	color: #FFFFFF;
}

header ul {
	margin: -70px 30px 0 30px;
	text-align: right;
}

header li {
	display: inline-block;
	margin: 0 0 0 30px;
}

header li .menus {
	margin: 0 0 0 39px;
}

header .green_heart_foods_logo {
	margin-left: 30px;
}

header.background_logo {
	height: 430px;
	background-position: center bottom;
}

.page_header {
	display: block;
	background-color: #84445e;
	text-align: center;
	color: #fff;
	padding: 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
}

.page_header h2 {
	font-weight: 700;
}

/* Footer */
footer {
	background-color: #34b67d;
	text-align: center;
	padding: 90px 0 90px 0;
	font-size: 2.2em;
	color: #FFFFFF;
}

footer ul {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer li {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer .hours {
	margin: 40px 0 40px 0;
}

footer .location {
	margin: 40px 0 40px 0;
	color: #016753;
}

footer .location a {
	color: #016753;
}

footer .contact {
	margin: 40px 0 40px 0;
	color: #abd14f;
}

footer .contact a {
	color: #abd14f;
}

.hidden {
	display: none;
}

/* Errors & Messages */
.message {
	background-color: #ef284f;
	text-align: center;
	padding: 20px 0;
	color: #FFFFFF;
	font-size: 1.6em;
	padding: 45px 0 45px 0;
}

/* Button Bar */
.button_container {
	background-color: #84445e;
	padding: 30px 0;
	text-align: center;
}

.page_button {
	border: none;
	background-color: #ff7a18;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 0 15px;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 300px;
	display: inline-block;
}

.page_button:hover {
	opacity: .8;
}

.create_client_page input.page_button,
.edit_client_page input.page_button {
	text-transform: uppercase;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: inline;
	text-align: center;
	width: 300px;
	color: #FFFFFF;
	margin: 0px;
}

/* Menu Pages */
.no_menus {
	width: 750px;
	margin: 90px auto;
	font-size: 3em;
	text-align: center;
	color: #7d7d7d;
	line-height: 1.2em;
}

.no_menus em {
	font-style: normal;
	color: #84445e;
}

.allergy-alert {
	color: #ed274e;
}

/* Checkboxes & Radio */
.checkbox, .radio {
	width: 60px;
	height: 60px;
	padding: 0 0 0 0;
	margin: 0;
	background: url(../_images/ui/checkboxes.png) no-repeat;
	display: block;
}

.radio {
	background: url(../_images/ui/radio.png) no-repeat;
}


/* -------------------- Login Page */

.login_page .main_container {
	background-color: #0e6552;
	color: #FFFFFF;
	text-align: center;
}

.login_page h1 {
	font-size: 3em;
	margin: 60px 0 60px 0;
	padding-bottom: 0px;
}

.login_page a {
	color: #FFFFFF;
}

.login_page .login_input {
	border: none;
	background-color: #FFFFFF;
	color: #34b67d;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 390px;
	font-weight: 400;
}

.login_page .login_button {
	border: none;
	background-color: #34b67d;
	background-color: #ff7a18;
	background-color: #abd14f;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 450px;
}

.login_page .login_button:hover {
	opacity: .8;
}

.login_page .login_note {
	padding: 0 0 90px 0;
	line-height: 1.5em;
	width: 450px;
	margin: 0 auto;
}


/* -------------------- All Clients Page */

.clients_page .client_list {
	width: 990px;
	margin: 0 auto;
	padding: 45px 0;
}

.clients_page .client_result {
	width: 300px;
	margin: 45px 15px;
	display: inline-block;
}

.clients_page .edit_button {
	border: none;
	background-color: #ff7a18;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 0px auto;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 300px;
}


/* -------------------- Create & Edit Client Pages */ 

.create_client_page .page_header,
.edit_client_page .page_header {
	/*background-image: url(../_images/ui/page_header_arrow.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;*/
}

.create_client_page .client_form,
.edit_client_page .client_form {
	margin: 0 auto;
	background-color: #FFFFFF;
}

.create_client_page fieldset,
.edit_client_page fieldset {
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 60px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
}

.create_client_page fieldset.no_rule,
.edit_client_page fieldset.no_rule {
	border-bottom: none;
}

.create_client_page input,
.edit_client_page input {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.create_client_page label,
.edit_client_page label {
	text-align: center;
	color: #84445e;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
	font-weight: 700;
}

.create_client_page .secondary_label,
.edit_client_page .secondary_label {
	color: #a7a9b5;
	text-align: left;
	width: 930px;
	padding: 0 0 0 30px;
	margin: 60px auto 0 auto;
	font-size: 2.2em;
	font-weight: 400;
}

.create_client_page .header_logo label,
.edit_client_page .header_logo label {
	background-color: #a35d79;
	width: 960px;
	height: 540px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .header_logo input,
.edit_client_page .header_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 900px;
	color: #a35d79;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid #84445e;
}

.create_client_page .header_logo input:hover,
.edit_client_page .header_logo input:hover {
	cursor: pointer;
}

.create_client_page .grid_logo label,
.edit_client_page .grid_logo label {
	background-color: #a35d79;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .grid_logo input,
.edit_client_page .grid_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 240px;
	color: #a35d79;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid #84445e;
}

.create_client_page .grid_logo input:hover,
.edit_client_page .grid_logo input:hover {
	cursor: pointer;
}

.create_client_page .box_label,
.edit_client_page .box_label {
	color: #a7a9b5;
	text-align: center;
	padding: 20px 0 0 0;
	margin: 0 auto;
	font-size: 2.2em;
	font-weight: 400;
}

.create_client_page .move_box,
.edit_client_page .move_box {
	display: block;
	width: 60px;
	text-align: center;
	margin: 0 auto;
}

.create_client_page .checkbox_container ul,
.edit_client_page .checkbox_container ul {
	list-style: none;
	width: 980px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.create_client_page .checkbox_container li,
.edit_client_page .checkbox_container li {
	display: inline-block;
	text-align: center;
	width: 240px;
	padding: 0;
	margin: 0;
}

.create_client_page li.active_client,
.edit_client_page li.active_client {
	width: 300px;
}


/* -------------------- Weekly Menu Page */

.weekly_menu_page header {
	background-repeat: repeat-x;
	background-position: center top;
}

.weekly_menu_page .hero {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 360px;
	width: 100%;
}

.weekly_menu_page .page_header ul {
	list-style: none;
	margin: 0px;
	padding-left: 0;
}

.weekly_menu_page .page_header li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	line-height: 1em;
	width: 300px;
}

.weekly_menu_page .page_header a {
	color: #a35d79;
	line-height: 1em;
}

.weekly_menu_page .page_header a.selected {
	color: #FFFFFF;
	font-weight: 700;
	line-height: 1em;
}

.weekly_menu_page .page_header li.left {
	text-align: left;
}

.weekly_menu_page .page_header li.right {
	text-align: right;
}

.weekly_menu_page .outside_container {
	overflow: auto; /* Scales the container to fit the floats. */
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 90px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
}

.weekly_menu_page .meal_container {
	width: 960px;
	margin: 0px auto;
	overflow: auto;
}

.weekly_menu_page .meal_details {
	float: left;
	width: 300px;
	height: 630px;
	margin: 0 30px 0 0;
	font-size: 1.2em;
	line-height: 1.5em;
	position: relative;
	color: #a7a9b5;
}

.weekly_menu_page .meal_details .item_status {
	color: #ee284e;
	font-size: 2em;
	margin: -7px 0 0 -3px;
	margin: -7px 0 0 0px;
	line-height: 1.1em;
}

.weekly_menu_page .meal_details .day_of_the_week {
	color: #84445e;
	font-size: 2em;
	margin-left: -3px;
	margin-left: 0px;
	line-height: 1.1em;
}

.weekly_menu_page .meal_details .month_and_date {
	color: #7d7d7d;
	font-size: 2em;
	margin-left: -3px;
	margin-left: 0px;
	line-height: 1.1em;
}

.weekly_menu_page .meal_details .meal_name {
	font-size: 2em;
	margin-left: -3px;
	margin-left: 0px;
	line-height: 1.1em;
	padding-bottom: 25px;
}

.weekly_menu_page .meal_details .menu_item_name {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.weekly_menu_page .meal_details .page_button {
	font-size: 1.5em;
	padding: 25px 0;
	margin: 0px;
	position: absolute;
	bottom: 0px;
}

.weekly_menu_page .meal_image {
	float: right;
	width: 630px;
	height: 630px;
	overflow: hidden;
	background-color: #a35d79;
	background-image: url(../_images/ui/default_meal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.weekly_menu_page .button_container {
	margin-top: -5px;
}


/* -------------------- Create & Edit Menu Pages */ 

.edit_menu_page header,
.create_menu_page header {
	background-repeat: repeat-x;
	background-position: center top;
}

.edit_menu_page .hero,
.create_menu_page .hero {
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 360px;
	width: 100%;
}

.edit_menu_page .page_header,
.create_menu_page .page_header {
	/*background-image: url(../_images/ui/page_header_arrow.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;*/
}

.edit_menu_page .client_form,
.create_menu_page .client_form {
	margin: 0 auto;
	background-color: #FFFFFF;
}

.edit_menu_page .server_and_meal,
.create_menu_page .server_and_meal {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: right;
}

.edit_menu_page .meal_container,
.create_menu_page .meal_container {
	background-color: #a35d79;
	width: 630px;
	margin: 0px auto 0 auto;
	padding: 0px;
	background-image: url(../_images/ui/default_meal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}

.edit_menu_page .meal_image,
.create_menu_page .meal_image {
	text-align: right;
	background-color: #a35d79;
	width: 630px;
	height: 630px;
	overflow: hidden;
	/*border: 2px solid #84445e;*/
	margin: 0px auto 0 auto;
	padding: 0px;
	background-image: url(../_images/ui/default_meal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.edit_menu_page .meal_container input,
.create_menu_page .meal_container input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 570px;
	color: #a35d79;
	margin: -5px auto 0 auto;
	padding: 30px;
	border: none;
}

.edit_menu_page .meal_image input:hover,
.create_menu_page .meal_image input:hover {
	cursor: pointer;
}

.edit_menu_page .server_container,
.create_menu_page .server_container {
	float: left;
	background-image: url(../_images/ui/default_server.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #a35d79;
}

.edit_menu_page .server_image,
.create_menu_page .server_image {
	width: 300px;
	height: 300px;
	background-image: url(../_images/ui/default_server.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #a35d79;
}

.edit_menu_page .server_image select,
.create_menu_page .server_image select {
	width: 300px;
	display: block;
}

.edit_menu_page fieldset,
.create_menu_page fieldset {
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 60px 0 90px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.edit_menu_page fieldset h3,
.create_menu_page fieldset h3 {
	text-align: center;
	color: #84445e;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
	font-weight: 700;
}

.edit_menu_page fieldset input[type=text],
.create_menu_page fieldset input[type=text] {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.edit_menu_page .checkbox_container ul,
.create_menu_page .checkbox_container ul {
	list-style: none;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.edit_menu_page .checkbox_container li,
.create_menu_page .checkbox_container li {
	display: inline-block;
	text-align: left;
	width: 300px;
	height: 60x;
	padding: 0;
	margin: 25px 0;
}

.edit_menu_page .box_label,
.create_menu_page .box_label {
	color: #a7a9b5;
	text-align: left;
	padding: 0px 0 0 0;
	margin: 0 0 0 75px;
	font-size: 2.2em;
	font-size: 1.2em;
	font-size: 1.1em;
	line-height: 60px;
	font-weight: 400;
	display: inline-block;
	float: left;
}

.edit_menu_page .move_box,
.create_menu_page .move_box {
	display: inline;
	width: 60px;
	text-align: center;
	margin: 0;
}

.edit_menu_page fieldset.no_rule,
.create_menu_page fieldset.no_rule {
	border-bottom: none;
}

.edit_menu_page .order_summary,
.create_menu_page .order_summary {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: center;
	width: 572px;
	color: #84445e;
	color: #FFFFFF;
	background-color: #a35d79;
}

.edit_menu_page .order_summary .total_served_for_item_serves,
.edit_menu_page .order_summary .total_served_for_item,
.create_menu_page .order_summary .total_served_for_item_serves,
.create_menu_page .order_summary .total_served_for_item {
	color: #a7a9b5;
	color: #84445e;
}

.edit_menu_page .button_container p,
.create_menu_page .button_container p {
	font-size: 2em;
	padding: 0px 0px 15px 0px;
	color: #FFFFFF;
	background-color: #84445e;
}

.edit_menu_page .button_container .total_served_for_menu_serves,
.edit_menu_page .button_container .total_served_for_menu,
.create_menu_page .button_container .total_served_for_menu_serves,
.create_menu_page .button_container .total_served_for_menu {
	color: #a35d79;
}

.edit_menu_page .button_container,
.create_menu_page .button_container {
	margin-top: -5px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 4000;
}

.edit_menu_page footer,
.create_menu_page footer {
	/* so it's not covered by the sticky bar */
	margin-bottom: 200px;
	margin-top: -5px;
}

.edit_menu_page .quantity_button,
.create_menu_page .quantity_button {
	-webkit-user-select: none;  	/* Chrome all / Safari all */
  	-moz-user-select: none;     	/* Firefox all */
  	-ms-user-select: none;      	/* IE 10+ */
 	/*No support for these yet, use at own risk */
  	-o-user-select: none;
  	user-select: none;    
}

.edit_menu_page .quantity_button:hover,
.create_menu_page .quantity_button:hover {
	cursor: pointer;
}

.edit_menu_page input[type=text].price_per_order_input,
.create_menu_page input[type=text].price_per_order_input {
	width: 240px;
	margin-top: 0px;
}

.edit_menu_page .day,
.edit_menu_page .month,
.edit_menu_page .year,
.create_menu_page .day,
.create_menu_page .month,
.create_menu_page .year {
	margin: 0 15px;
}


/* -------------------- Daily Menu Page - NEEDED fix dropdown*/

.daily_menu_page {
	text-align: center;
}

.daily_menu_page .page_header a {
	display: inline;
	margin: 0 90px;
	line-height: .1em;
	color: #a35d79;
	font-size: .6em;
}

.daily_menu_page .page_header a.menu,
.daily_menu_page .page_header a.placard {
	float: left;
	line-height: 2em;
	width: 270px;
	text-align: left;
}

.daily_menu_page .page_header a.placard {
	float: right;
	text-align: right;
}

/* //////////////////////////////////////////////// */
/* why is the dropdown code not working? */

.daily_menu_page h3 {
	text-align: center;
	color: #84445e;
	padding: 30px 0 0px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
	font-weight: 700;
}

.daily_menu_page .no_meal,
.daily_menu_page .meal_description {
	color: #a7a9b5;
	text-align: center;
	padding: 60px 0 0 0;
	margin: 0 auto;
	font-size: 1.6em;
	font-weight: 400;
}

.daily_menu_page .date_and_meal,
.daily_menu_page .server_and_meal_container,
.daily_menu_page .menu-item {
	border: none;
	border-bottom: 5px solid #84445e;
	padding: 90px 0;
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
}

.daily_menu_page .server_and_meal_container {
	overflow: auto;
}

.daily_menu_page .date_and_meal {
}

.daily_menu_page .date_and_meal h3 {
}

.daily_menu_page .date_and_meal p {
	width: 800px;
	margin: 0 auto;
}

/* //////////////////////////////////////////////// */

.daily_menu_page .server_and_meal {
	width: 960px;
	margin: 0 auto;
}

.daily_menu_page .meal_image {
	float: right;
	background-color: #a35d79;
	width: 630px;
	height: 630px;
	overflow: hidden;
	border: 2px solid #84445e;
	border: none;
	margin: 0px auto 0 auto;
	padding: 0px;
	background-image: url(../_images/ui/default_meal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.daily_menu_page .server_image {
	float: left;
	width: 300px;
	height: 300px;
	background-image: url(../_images/ui/default_server.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #a35d79;
}

.daily_menu_page .server_information {
	font-size: 1.5em;
	text-align: left;
	color: #7d7d7d;
}

.daily_menu_page .server_information .name {
	color: #84445e;
	font-size: 1.5em;
	padding-top: 15px;
	display: block;
	margin-top: 300px;
}

.daily_menu_page .server_information .number a {
	color: #a7a9b5;
	font-size: 1.5em;
	padding-bottom: 15px;
	display: block;
}

.daily_menu_page .menu-item {
	padding: 30px 0 90px 0;
}

.daily_menu_page .menu-item p {
	color: #a7a9b5;
	font-size: 1.5em;
	width: 800px;
	margin: 30px auto;
}

.daily_menu_page .like-heart {
	margin-top: 15px;
}
.daily_menu_page .like-heart:hover {
	cursor: pointer;
}

.daily_menu_page p.number_of_likes {
	color: #abd14f;
	margin: -10px auto 0 auto;
}

.daily_menu_page p.dish_name {
	color: #7d7d7d;
	font-size: 3em;
	font-weight: 700;
	line-height: 1em;
}

.daily_menu_page .special_requests {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.daily_menu_page .single_order_size {
	display: none;
}

.daily_menu_page .order_summary {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: center;
	width: 572px;
	color: #84445e;
	color: #FFFFFF;
	background-color: #a35d79;
}

.daily_menu_page .order_summary .total_served_for_item_serves,
.daily_menu_page .order_summary .total_served_for_item {
	color: #a7a9b5;
	color: #84445e;
}

.daily_menu_page .button_container {
	margin-top: -10px;
	margin-top: -5px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 4000;
}

.daily_menu_page .button_container p {
	font-size: 2em;
	padding: 0px 0px 15px 0px;
	color: #FFFFFF;
	background-color: #84445e;
}

.daily_menu_page .button_container .total_served_for_item_serves,
.daily_menu_page .button_container .total_served_for_menu {
	color: #a35d79;
}

.daily_menu_page footer {
	/* so it's not covered by the sticky bar */
	margin-bottom: 200px;
	margin-top: -5px;
}


/* -------------------- Print Menu & Placards */

/* Menu */

html > .daily_menu_print_placards_page,
html > .daily_menu_print_menu_page {
	background-color: #FFFFFF;
	text-transform: uppercase;
}

.daily_menu_print_menu_page {
	text-align: center;
	font-size: .4em;
}

.daily_menu_print_menu_page h1 {
	font-size: 7em;
	background-color: #FFFFFF;
	color: #a7a9b5;
	color: #29b77a;
	margin: 0;
	padding: 60px 0 0px 0;
	line-height: 1em;
	background-image: url(../_images/ui/email_logo.jpg);
	background-position: 20px 20px;
	background-repeat: no-repeat;
	background-size: 1.6em;
	background-size: 2.6em;
}

.daily_menu_print_menu_page h2 {
	padding: 0 0 15px 0;
	width: 100%;
	font-size: 1.5em;
	color: #29b77a;
	background-color: #FFFFFF;
}

.daily_menu_print_menu_page .item_container {
	border-bottom: 1px solid #ebebeb;
	border: none;
	padding: 30px 0 0 0;
	width: 70%;
	margin: 0 auto;
}

.daily_menu_print_menu_page h3 {
	color: #7d7d7d;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1em;
}

.daily_menu_print_menu_page p {
	color: #a7a9b5;
	font-size: 1em;
	padding-top: 5px;
	display: block;
}

.daily_menu_print_menu_page .labels {
	color: #aad04e;
}

.daily_menu_print_menu_page .like-heart img {
	width: 4em;
	height: auto;
	margin-bottom: 10px;
}

/* Placards */

.daily_menu_print_placards_page {
	text-align: center;
	font-size: .4em;
	padding: 30px 0 0 0;
	float: none;
}

.daily_menu_print_placards_page .main_container {
	float: none;
}

.daily_menu_print_placards_page .menu {
	float: none;
}

.daily_menu_print_placards_page .placard_container {
	width: 320px;
	height: 200px;
	text-align: center;
	border: 1px solid #ebebeb;
	border-top: none;
	margin: 0px auto;
	float: left;
}

.daily_menu_print_placards_page .like-heart img {
	width: 4em;
	height: auto;
	margin: 40px 0 10px 0;
}

.daily_menu_print_placards_page h3 {
	color: #29b77a;
	color: #7d7d7d;
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2em;
	margin: 0 40px;
}

.daily_menu_print_placards_page p {
	margin: 0 40px;
	color: #a7a9b5;
	font-size: 1.2em;
	padding-top: 10px;
	display: block;
}

.daily_menu_print_placards_page .labels {
	color: #aad04e;
}

.daily_menu_print_placards_page .ninth {
	page-break-before: always;
}
