/* Updated Thu 1 May 2015 */


/* Global */

body {
	margin: 0;
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background-color: #34b67d;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: .8;
}

label {
	display: block;
}

input, select {
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

/* Forms */
*::-webkit-input-placeholder {
    color: #a7a9b5;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #a7a9b5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #a7a9b5;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #a7a9b5;
}


/* Header */


header {
	margin: 0 30px;
	padding: 30px 0 80px 0;
	position: relative;
	font-size: 1.3em;
	color: #abd14f;
	text-align: left;
}
header a {
	color: #FFFFFF;
}

header ul {
	margin: -70px 0 0 0;
	text-align: right;
}

header li {
	display: inline-block;
	margin: 0 0 0 20px;
}

.page_header {
	display: block;
	background-color: #84445e;
	text-align: center;
	color: #fff;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 2em;
}



/* Messages */


.message {
	text-align: center;
	color: #FFFFFF;
}


/* Footer */


footer {
	background-color: #34b67d;
	text-align: center;
	padding: 90px 0 90px 0;
	font-size: 2.2em;
	color: #FFFFFF;
}

footer ul {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer li {
	display: inline-block;
	margin: 0 20px 0 20px;
}

footer .hours {
	margin: 40px 0 40px 0;
}

footer .location {
	margin: 40px 0 40px 0;
	color: #016753;
}

footer .location a {
	color: #016753;
}

footer .contact {
	margin: 40px 0 40px 0;
	color: #abd14f;
}

footer .contact a {
	color: #abd14f;
}


/* Shared */ 


.main_container {
	width: 100%;
}

.fake_hr {
	height: 2px;
	background-color: #84445e;
	clear: both;
	margin: 20px 0;
}

.message {
	background-color: #ef284f;
	text-align: center;
	padding: 20px 0;
}


/* Login Page */


.login_page .main_container {
	background-color: #0e6552;
	color: #FFFFFF;
	text-align: center;
}

.login_page h1 {
	font-size: 3em;
	margin-bottom: 60px;
}

.login_page a {
	color: #FFFFFF;
}

.login_page .login_input {
	border: none;
	background-color: #FFFFFF;
	color: #34b67d;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 390px;
	font-weight: 400;
}

.login_page .login_button {
	border: none;
	background-color: #34b67d;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 0;
	display: block;
	text-align: center;
	width: 450px;
}

.login_page .login_button:hover {
	opacity: .8;
}

.login_page .login_note {
	padding: 0 0 90px 0;
}



/* Clients Page */


.clients_page .main_container { 
	background-color: #016752;
}

.clients_page .client_list {
	background-color: #fff;
}

.clients_page .client_result {
	width: 300px;
	border: 1px solid #ccc;
}

.clients_page .edit_button {
	background-color: #ccc;
	display: block;
}

.clients_page .add_client_button_container {
	height: 80px;
	background-color: #84445e;
	padding-top: 40px;
}

.clients_page .add_client_button {
	display: block;
	width: 200px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ff7a17;
	margin: 0 auto;
}


/* Create Client Page */ 


.create_client_page .main_container {
	background-color: #0e6552;
}

.create_client_page .page_header {
	background-image: url(../_images/ui/page_header_arrow.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.create_client_page .client_form {
	margin: 0 auto;
	background-color: #FFFFFF;
}

.create_client_page form {
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
}

.create_client_page h1 {
	font-size: 10em;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 160px;
}

.create_client_page fieldset {
	border: none;
	border-bottom: 5px solid #84445e;
	margin: 0 0 0px 0;
	padding: 60px 0;
}

.create_client_page input {
	border: 2px solid #84445e;
	text-transform: uppercase;
	font-size: 2em;
	margin: 25px auto;
	padding: 20px 30px 20px 30px;
	display: block;
	text-align: left;
	width: 900px;
	color: #84445e;
}

.create_client_page label {
	text-align: center;
	color: #84445e;
	padding: 30px 0 30px 0;
	margin: 0;
	overflow: auto;
	font-size: 3em;
}

.create_client_page .secondary_label {
	color: #a7a9b5;
	text-align: left;
	width: 900px;
	padding: 0 0 0 30px;
	margin: 60px auto 0 auto;
	font-size: 2.2em;
}

.create_client_page .header_logo label {
	background-color: #a35d79;
	width: 960px;
	height: 540px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .header_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 900px;
	color: #a35d79;
	margin: -65px auto 0 auto;
	border: 2px solid #84445e;
}

.create_client_page .grid_logo label {
	background-color: #a35d79;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 2px solid #84445e;
	margin: 0px auto 0 auto;
	padding: 0px;
}

.create_client_page .grid_logo input {
	border: none;
	font-size: 1em;
	line-height: .1em;
	background-color: #84445e;
	width: 240px;
	color: #a35d79;
	margin: 0 auto;
	border: 2px solid #84445e;
}

/* WORKING - check boxes */
.create_client_page .checkbox_label {
	color: #a7a9b5;
	font-size: 2.2em;
}
.checkbox_labels ul {
	list-style: none;
	width: 960px;
	background-color: pink;
	margin: 0 auto;
	text-align: center;
}
.checkbox_labels li {
	display: inline-block;
	background-color: yellow;
	text-align: center;
	width: 230px;
}

.checkbox, .radio {
	width: 90px;
	height: 90px;
	padding: 0 0px 0 0;
	background: url(../_images/ui/checkboxes.png) no-repeat;
	display: block;
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}
/* WORKING - check boxes - END */


/* Create Menu Page */ 


.no-styles-here-yet {}


/* Daily Menu Page */


.daily_menu_page .server_information {
	background-color: green;
	width: 300px;
	float: left;
}

.daily_menu_page .item_summary_container {
	border: 1px solid #ccc;
	padding: 20px 0;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.daily_menu_page .order_summary {
	/*color: #fff;*/
	text-align: center;
	background-color: #84445e;
	padding: 40px 0;
}


/* Daily Menu - Print Placards */


.daily_menu_print_placards_page .placard_container {
	width: 300px;
	height: 100px;
	float: left;
	text-transform: capitalize;
	border: 1px solid #ccc;
}


/* Daily Menu - Print Placards */


.daily_menu_print_menu_page {
	text-transform: capitalize;
}


/* Daily Menu - Print Placards */


.edit_client_page .main_container {
	background-color: #0e6552;
}

.edit_client_page .client_form {
	background-color: #fff;
}


/* Edit Menu Page */ 

.edit_menu_page .main_container {
	background-color: #0e6552;
}

.edit_menu_page .menu_form {
	background-color: #fff;	
}


/* weekly_menu_page */ 


.weekly_menu_page .main_container {
	background-color: #0e6552;
}

.weekly_menu_page .weekly_menu {
	background-color: #fff;
}

.weekly_menu_page .page_header ul {
	text-indent: 0;
	padding: 0;
	display: block;
	margin: 0 auto;
	width: 400px;
}

.weekly_menu_page .page_header li {
	margin-left: 10px;
	background-color: #fff;
	list-style-type: none;
	display: block;
	float: left;
	padding: 10px;
}

.weekly_menu_page .meal_container {
	border: 3px solid #ccc;
	background-color: orange;
	margin-top: 20px;
	overflow: auto; /* Scales the container to fit the floats. */
}

.weekly_menu_page .meal_details {
	float: left;
	width: 400px;
}

.weekly_menu_page .meal_image {
	float: left;
}

.weekly_menu_page .create_or_send_container {
	padding: 20px 0;
	background-color: #84445e;
	text-align: center;
}

.weekly_menu_page .create_or_send_buttons {
	background-color: red;
	margin: 0 auto;
	width: 500px;
	overflow: auto;
}

.weekly_menu_page .create_or_send_buttons a {
	color: #fff;
	display: block;
	float: left;
	background-color: #ff7a17;
	width: 200px;
	margin: 0 25px;
	padding: 20px 0;
}


/* Daily Menu Page */


.daily_menu_page .quantity_button {
	margin-right: 10px;
}

.daily_menu_page .special_requests {
	display: block;
	width: 350px;
	height: 50px;
	margin: 20px auto;
}
