/* Weekly Menu - Print Placards */

@media print {
   .daily_menu_print_placards  .plus_minus_container,
   .weekly_menu_print_placards  .plus_minus_container {
   		display: none
   	}
	
	.daily_menu_print_placards .outside_container,
	.weekly_menu_print_placards .outside_container {
		width: 712px;
		padding: 0;
		background-color: #ebebeb;
	}

	.daily_menu_print_placards .meal_container,
	.weekly_menu_print_placards .meal_container {
		margin: 0px 1px 0px 0;
	}

	.daily_menu_print_placards .ninth,
	.weekly_menu_print_placards .ninth {
		/*page-break-before: always;*/
		page-break-before: always;
	}
}