/* Weekly Menu - Print Placards */

@media print {
   .daily_menu_print_placards  .plus_minus_container,
   .weekly_menu_print_placards  .plus_minus_container {
   		display: none
   	}
	
	.daily_menu_print_placards .ninth,
	.weekly_menu_print_placards .ninth {
		/*page-break-before: always;*/
		page-break-after: always;
		background-color: red;
	}
}