/* Weekly Menu - Print Placards */

@media print {
	
	body {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300italic;
	}
	
   .daily_menu_print_placards  .plus_minus_container,
   .weekly_menu_print_placards  .plus_minus_container {
   		display: none
   	}
	
	.daily_menu_print_placards .outside_container,
	.weekly_menu_print_placards .outside_container {
		width: 712px;
		padding: 0;
		background-color: #ebebeb;
	}

	.daily_menu_print_placards .meal_container,
	.weekly_menu_print_placards .meal_container,
	.daily_menu_print_placards .meal_container.blank,
	.weekly_menu_print_placards .meal_container.blank {
		float: none;
		overflow: auto;
		margin: 0px 1px 0px 0;
		display: inline-block;
	}

	.daily_menu_print_placards .ninth,
	.weekly_menu_print_placards .ninth {
		/*page-break-before: always;*/
		page-break-before: always;
	}
}